# List          - Contains any type of data
# DataFrame     - Contains data in row column (tabular) format
# Vector        - 1D collection of elements
# Factor        - Collection of categorical type of data
# Matrix        - Multi-dimensional type of data (row x column)
# Array         - Collection of similar type of data

# Vectors

In [1]:
 vec <- c(12,34,56,78,11,7,8.7,9.6,'Hello')

In [3]:
vec

[1] "12"    "34"    "56"    "78"    "11"    "7"     "8.7"   "9.6"   "Hello"

In [4]:
vec <- c(12,34,56,78,11,7,8,9)
print(vec)

[1] 12 34 56 78 11  7  8  9

In [23]:
# Indexing
print(vec[1])

[1] 12

In [24]:

# Slicing
print(vec[1:3])

[1] 12 34 56

In [25]:
# Replace
vec[1] <- 15
print(vec)

[1] 15 34 56 78 11  7  8  9

In [26]:
vec_2 <- seq(1,5, by = 0.2)
print(vec_2)

 [1] 1.0 1.2 1.4 1.6 1.8 2.0 2.2 2.4 2.6 2.8 3.0 3.2 3.4 3.6 3.8 4.0 4.2 4.4 4.6
[20] 4.8 5.0

In [27]:
vec_2 <- seq(1,15, length.out = 12)
print(vec_2)

 [1]  1.000000  2.272727  3.545455  4.818182  6.090909  7.363636  8.636364
 [8]  9.909091 11.181818 12.454545 13.727273 15.000000

# Matrix

In [5]:
# By default matrix will be assigned acc to columns
# mat_1 <- matrix(1:9, nrow = 3, ncol = 3)

# mat_1 <- matrix(1:9, nrow = 3, ncol = 3, byrow = TRUE)

mat_1 <- matrix(1:9, nrow = 3, ncol = 3, byrow = TRUE, dimnames = list(c('A','B','C'),c('X','Y','Z')))
print(mat_1)

  X Y Z
A 1 2 3
B 4 5 6
C 7 8 9

# List

In [6]:
list_1 = list('id'=101,'name'='Ram','company'='TCS')
print(list_1)

$id
[1] 101

$name
[1] "Ram"

$company
[1] "TCS"

# Dataframe

In [7]:
df <- data.frame('id'=1:4,'name'=c('Ram','Shyam','Anuj','Gopal'),'company'=c('TCS','Infy','Wipro','Apple'))
print(df)

  id  name company
1  1   Ram     TCS
2  2 Shyam    Infy
3  3  Anuj   Wipro
4  4 Gopal   Apple

In [8]:
# Printing single column
print(df['id'])

  id
1  1
2  2
3  3
4  4

In [9]:
# Print specific data
df[df['id'] == 2]

[1] "2"     "Shyam" "Infy"

In [10]:
df[df['id'] > 2]

[1] "3"     "4"     "Anuj"  "Gopal" "Wipro" "Apple"

# Array + Factors

In [11]:
vec_1 <- c(2,3,4,5,6,8)
vec_2 <- c(12,34,56,78,90,11,23,21,54,76)

arr <- array(vec_1)

In [12]:
arr

[1] 2 3 4 5 6 8

In [13]:
vec_1

[1] 2 3 4 5 6 8

In [14]:
arr <- array(c(vec_1, vec_2))
print(arr)

 [1]  2  3  4  5  6  8 12 34 56 78 90 11 23 21 54 76

In [15]:
arr <- array(c(vec_1, vec_2), dim = c(3,3,2))
print(arr)

, , 1

     [,1] [,2] [,3]
[1,]    2    5   12
[2,]    3    6   34
[3,]    4    8   56

, , 2

     [,1] [,2] [,3]
[1,]   78   23   76
[2,]   90   21    2
[3,]   11   54    3

In [20]:
# Factors - Categorical - Levels
months <- c('Jan','Feb','Mar','Jan','Dec','April','Dec','Oct','Sep','May','July','May','June','Aug')

fact <- factor(months)

In [21]:
print(months)

 [1] "Jan"   "Feb"   "Mar"   "Jan"   "Dec"   "April" "Dec"   "Oct"   "Sep"
[10] "May"   "July"  "May"   "June"  "Aug"

In [22]:
print(fact)

 [1] Jan   Feb   Mar   Jan   Dec   April Dec   Oct   Sep   May   July  May
[13] June  Aug
Levels: April Aug Dec Feb Jan July June Mar May Oct Sep